@import url(Component/banner.css);

@import url(Component/button.css);

@import url(Component/card.css);

@import url(Component/container.CSS);

@import url(Component/footer.css);

 

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

 

h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif
}